*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.class
.android-user/
.gradle-user/
.gradle-user-build/
.gradle-user-build2/
.sandbox-home/
.gradle-home/
.vscode/
.idea/studiobot.xml
